<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %highlight([%-5level]) --- [%thread] %logger{35} : %msg %n </pattern>	
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/ec2-user/project/sts-logs/logback-%d{yyyy-MM-dd}.log.zip</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
         	<pattern>%d{HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
      	</encoder>
      </appender>

		<logger name="com.used.example.mapper" level= "TRACE" additivity="false">
			<appender-ref ref="FILE"></appender-ref>
			<appender-ref ref="STDOUT"></appender-ref>
		</logger>
		
		
		
		
		<logger name="org.springframework.web" level="WARN" additivity="false">
			<appender-ref ref="FILE"></appender-ref>
			<appender-ref ref="STDOUT"></appender-ref>
		</logger>
		<logger name="com.used.example" level="DEBUG" additivity="false">
			<appender-ref ref="FILE"></appender-ref>
			<appender-ref ref="STDOUT"></appender-ref>
		</logger>
		<root level="WARN">
			<appender-ref ref="FILE"></appender-ref>
			<appender-ref ref="STDOUT"></appender-ref>
		</root>
		
	
	
</configuration>