<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.used.example.mapper.AuctionMapper">

	<insert id= "CreateAuction" parameterType= "com.used.example.domain.Auction">
		<selectKey resultType= "int" keyProperty= "a_num" order="BEFORE">
			select a_num
			from auction
			where p_num = #{p_num} and a_participant = #{participant}
		</selectKey>
		<choose>
			<when test="a_num == '' and a_num == null">
				insert into auction(p_num, a_participant, a_price)
				values(#{p_num}, #{participant}, #{price})
			</when>
			<otherwise>
				update auction
				set a_price = #{price},
					a_time = (now())
				where a_num = #{a_num}
			
			</otherwise>
		
		</choose>
		
						
	</insert>
	
	
	
	<resultMap id="PictureMap" type="Picture">
		<result property="pictureName" column="pi_name"/>
		<result property="pi_num" column="pi_num"/>
	</resultMap>
	
	<resultMap id="AuctionMap" type="Auction">
		<result property="a_num" column="a_num"/>
		<result property="participant" column="a_participant"/>
		<result property="price" column="a_price"/>
		<result property="aTime" column="a_time"/>
	</resultMap>

	<resultMap id="aucList" type="Product">
		<id property= "p_num" column= "p_num" />
		<result property= "topprice" column= "topprice" />
		
		<result property= "p_num" column= "p_num" />
		<result property= "username" column= "u_username" />
		<result property= "kind" column= "p_kind" />
		<result property= "industry" column= "p_industry" />
		<result property= "brand" column= "p_brand" />
		<result property= "year" column= "p_year" />
		<result property= "startprice" column= "p_startprice" />
		<result property= "title" column= "p_title" />
		<result property= "content" column= "p_content" />
		<result property= "sale" column= "p_sale" />
		<result property= "p_date" column= "p_date" />
		<result property= "address" column= "p_address" />
		<result property= "d_day" column= "p_enddate" />
		<collection property="picture" resultMap="PictureMap"></collection>
		<collection property="auction" resultMap="AuctionMap"></collection>	
	</resultMap>
	
	<select id="AuctionList" parameterType= "Product" resultMap="aucList">
	
	<choose>
	
	
	<when test="sale == 'pay'">
	SELECT 	
			b.*,
			p.*,
			c.*
	FROM payment a
	left JOIN product b on a.p_num = b.p_num
	LEFT JOIN picture p ON a.p_num = p.p_num
	left JOIN auction c on a.a_num = c.a_num
	WHERE c.a_participant = #{username}
	
	</when>
	
	<otherwise>
	
		SELECT 	e.*,
					MAX(d.a_price)topprice
		FROM auction d
		INNER JOIN 
		(SELECT	a.a_num,
					a.a_participant,
					MAX(a.a_price)a_price,
					c.*,
					b.pi_num,
					b.pi_name					
		FROM				auction a
		LEFT JOIN	   picture b ON a.p_num = b.p_num
		LEFT JOIN      product c ON a.p_num = c.p_num
		WHERE 		   a.a_participant= #{username} AND c.p_sale= #{sale}
		GROUP BY       a.p_num 
		
		)e ON e.p_num = d.p_num
		
		GROUP BY  	p_num
		ORDER BY    p_num DESC  
	
	
	
	
	
	
	
	
	</otherwise>

	
	
	
	</choose>

	</select>
	
	
	
	<resultMap id="pic" type="Picture">
		<result property="pictureName" column="pi_name" />
		<result property="pi_num" column="pi_num" />	
	</resultMap>
	<resultMap id="auc" type="Auction">
		<result property="a_num" column="a_num"/>
		<result property="participant" column="a_participant"/>
		<result property="price" column="a_price"/>
		<result property="aTime" column="a_time"/>
	</resultMap>
	<resultMap id="pro" type="Product">
		<id property= "p_num" column= "p_num" />
		<result property= "p_num" column= "p_num" />
		<result property= "username" column= "u_username" />
		<result property= "kind" column= "p_kind" />
		<result property= "industry" column= "p_industry" />
		<result property= "brand" column= "p_brand" />
		<result property= "year" column= "p_year" />
		<result property= "startprice" column= "p_startprice" />
		<result property= "title" column= "p_title" />
		<result property= "content" column= "p_content" />
		<result property= "sale" column= "p_sale" />
		<result property= "p_date" column= "p_date" />
		<result property= "address" column= "p_address" />
		<result property= "enddate" column= "p_enddate" />
		<collection property="picture" resultMap="pic"/>
		<collection property="auction" resultMap="auc"/>
		
 	</resultMap>
	
	
	<select id="AuctionDetail" parameterType= "int" resultMap="pro">
	
		select 	 *
		from     product a
		left join auction b  on a.p_num = b.p_num
		left join picture c  on a.p_num = c.p_num
		where a.p_num = #{p_num}
		order by b.a_price desc
	</select>
	
	<delete id="AuctionDelete" parameterType= "int">
		delete 
		from auction
		where a_num = #{a_num}
	
	</delete>
	
	
	<update id="AuctionEnd" parameterType = "String">
	
		UPDATE 
		
		product a
		LEFT JOIN auction b ON a.p_num = b.p_num
		SET a.p_sale = 'pay'
		WHERE a.p_enddate = #{today} AND b.a_num IS NOT NULL 
	</update>
	
	
	
	
	<update id= "createPayment" >
	
	
		       INSERT INTO payment (p_num, a_num, price)
			
					SELECT  ta.p_num,
								ta.a_num,
								tb.price
					
					FROM auction ta
					INNER JOIN 			
								(SELECT MAX(b.a_price)price
								FROM product a
								INNER JOIN auction b ON a.p_num = b.p_num
								WHERE a.p_sale = 'pay'
								GROUP BY b.p_num) tb ON ta.a_price = tb.price
	</update>
	
	
	
	
	

</mapper>