<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.used.example.mapper.BoardMapper">


<insert id="createBoard" parameterType="com.used.example.domain.Board" >
	insert into board	(b_writer,
						 b_title,
						 b_content
						 )
				values   (
						  #{writer},
						  #{title},
						  #{content}
				)
				
				<selectKey  keyProperty="b_num" resultType="int" order="AFTER">
					select last_insert_id()
				</selectKey>

</insert>



</mapper>
