<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.used.example.mapper.ChatMapper">

	<insert id="CreateChat" parameterType="Chat">
		insert into chat(ch_seller, ch_buyer)
				SELECT #{seller}, #{buyer} FROM dual
		WHERE 
		NOT EXISTS( SELECT ch_num
					FROM chat
					WHERE (ch_seller =  #{seller} AND ch_buyer = #{buyer}) OR  (ch_seller = #{buyer} AND ch_buyer= #{seller}))
		<selectKey keyProperty="ch_num" resultType="int" order="AFTER">
			select last_insert_id()
		</selectKey>

	</insert>
	<select id="ChatDetail" parameterType="int" resultType="Chat">
		select	a_num as a_num,
				ch_num as ch_num,
				ch_seller as seller,
				ch_buyer as buyer
		from chat
		where a_num = #{a_num}
	</select>
	
	<select id="ChatList" parameterType= "String" resultType="Chat">
			select	a_num as a_num,
				ch_num as ch_num,
				ch_seller as seller,
				ch_buyer as buyer
			from chat
			where ch_buyer =#{username} OR ch_seller = #{username}
	</select>
	
	<resultMap type="Chat" id="Detail">
		<result property="ch_num" column="ch_num"/>
		<result property="a_num" column="a_num"/>
		<result property="seller" column="ch_seller"/>
		<result property="buyer" column="ch_buyer"/>
		<collection property="message" resultMap="MsgDetail"></collection>
	</resultMap>
	<resultMap id="MsgDetail" type="Message">
		<result property="m_num" column="m_num"/>
		<result property="m_username" column="m_username"/>
		<result property="content" column="m_content"/>
		<result property="time" column="m_time"/>
	</resultMap>
	
	
	
	<select id="MsgDetail" parameterType="int" resultMap="Detail">
		SELECT *
		FROM chat a
		LEFT JOIN message b ON a.ch_num = b.ch_num
		WHERE a.ch_num = #{ch_num}
		ORDER BY b.m_num ASC  
	</select>
	
	<insert id="CreateMessage" parameterType="Message">
		insert into message(ch_num, m_username, m_content, m_time )
					values(#{ch_num},#{m_username}, #{content}, #{time})
	
	</insert>

</mapper>

