<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.used.example.mapper.LikeMapper">
	
	<insert id="CreateLike" parameterType="com.used.example.domain.Like">
		insert into `like` (
		p_num, 
		l_username
		)values(
		#{p_num}, 
		#{l_username}
		)
		
	</insert>
	
	<delete id="DeleteLike" parameterType="Like">
		delete 
		from `like`
		where p_num = #{p_num} and l_username= #{l_username}
	
	</delete>
</mapper>