<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.used.example.mapper.OfferMapper">

	<resultMap type="Picture" id="ListPi">
		<result property="p_num" column="p_num"/>
		<result property="pi_num" column="pi_num"/>
		<result property="pictureName" column="pi_name"/>
	</resultMap>
	<resultMap type="Product" id="ListPro">
		<result property="p_num" column="p_num"/>
		<result property="brand" column="p_brand"/>
		<result property="kind" column="p_kind"/>
		<result property="industry" column="p_industry"/>
		<result property="year" column="p_year"/>
		<collection property="picture" resultMap="ListPi"/>
	</resultMap>
	<resultMap type="Offer" id="ListOffer">
		<result property="o_num" column="o_num"/>
		<result property="a_num" column="a_num"/>
		<result property="o_username" column="o_username"/>
		<result property="price" column="o_price"/>
		<result property="time" column="o_time"/>
		<result property="endtime" column="o_endtime"/>
		
	</resultMap>
	<resultMap type="Like" id="ListLike">
		
		<result property="a_num" column="a_num"/>
		<result property="l_username" column="l_username"/>
	
	</resultMap>
	<resultMap id="ListMap" type="Auction">
		<id property="a_num" column="a_num"/>
		<result property="a_num" column="a_num"/>
		<result property="a_username" column="a_username"/>
		<result property="startdate" column="a_startdate"/>
		<result property="d_day" column="a_enddate"/>
		<result property="startprice" column="a_startprice"/>
		<result property="sale" column="a_sale"/>
		<result property="hits" column="a_hits"/>
		<result property="title" column="a_title"/>
		<result property="content" column="a_content"/>
		<result property="topprice" column="topprice"/>
		<association property="address" javaType="Address">
			<result property="ad_num" column="ad_num"/>
			<result property="a_num" column="a_num"/>
			<result property="lat" column="ad_lat"/>
			<result property="lon" column="ad_lon"/>
			<result property="addr" column="ad_addr"/>
			<result property="town" column="ad_town"/>
		</association>
		<collection property="like"  resultMap="ListLike"/>
		<collection property="offer" resultMap="ListOffer"/>
		<collection property="product" resultMap="ListPro"/>
	</resultMap>
	
	
	
	
	
	
		<resultMap type="Picture" id="DetailPi">
			<result property="p_num" column="p_num"/>
			<result property="pi_num" column="pi_num"/>
			<result property="pictureName" column="pi_name"/>
		</resultMap>
	<resultMap type="Product" id="DetailPro">
		<result property="p_num" column="p_num"/>
		<result property="brand" column="p_brand"/>
		<result property="kind" column="p_kind"/>
		<result property="industry" column="p_industry"/>
		<result property="year" column="p_year"/>
		<collection property="picture" resultMap="DetailPi"/>
	</resultMap>
	<resultMap type="Offer" id="DetailOffer">
		<result property="o_num" column="o_num"/>
		<result property="a_num" column="a_num"/>
		<result property="o_username" column="o_username"/>
		<result property="price" column="o_price"/>
		<result property="time" column="o_time"/>
		<result property="endtime" column="o_endtime"/>
		
	</resultMap>
		<resultMap type="Like" id="DetailLike">
			<result property="a_num" column="a_num"/>
			<result property="l_username" column="l_username"/>	
	</resultMap>
	<resultMap id="DetailMap" type="Auction">
		<id property="a_num" column="a_num"/>
		<result property="a_num" column="a_num"/>
		<result property="a_username" column="a_username"/>
		<result property="startdate" column="a_startdate"/>
		<result property="d_day" column="a_enddate"/>
		<result property="startprice" column="a_startprice"/>
		<result property="sale" column="a_sale"/>
		<result property="hits" column="a_hits"/>
		<result property="title" column="a_title"/>
		<result property="content" column="a_content"/>
		<association property="address" javaType="Address">
			<result property="ad_num" column="ad_num"/>
			<result property="a_num" column="a_num"/>
			<result property="lat" column="ad_lat"/>
			<result property="lon" column="ad_lon"/>
			<result property="addr" column="ad_addr"/>
			<result property="town" column="ad_town"/>
		</association>
		<collection property="like"  resultMap="DetailLike"/>
		<collection property="offer" resultMap="DetailOffer"/>
		<collection property="product" resultMap="DetailPro"/>
	</resultMap>


	<insert id="CreateOffer" parameterType="Offer">
		<selectKey keyProperty="count" resultType="int" order="BEFORE" >
			select  COUNT(*) 
			from offer
			where a_num = #{a_num} and o_username = #{o_username}
		</selectKey>
		
		<choose>
			<when test="count == 0">
				insert into offer(a_num, o_username, o_price)
				values(#{a_num}, #{o_username}, #{price}) 
			</when>
			<otherwise>
				update offer
				set  o_price= #{price}
				where a_num = #{a_num} and o_username = #{o_username}
			
			</otherwise>
		</choose>

			
	</insert>
	
	<select id="BidCount" parameterType="String" resultType="Count">
		SELECT 
		COUNT(case when a.a_sale = 0 then 1 END) AS salecount,
		COUNT(case when a.a_sale = 1 then 1 END) AS paycount,
		COUNT(case when a.a_sale = 2 then 1 END) AS tradecount,
		COUNT(case when a.a_sale = 3 then 1 END) AS soldcount
		from auction a
		LEFT JOIN 
				(SELECT *
				FROM offer 
				GROUP BY a_num)b on a.a_num = b.a_num
		WHERE b.o_username =  #{a.o_username}
	</select>
	<select id="BidRank" parameterType = "String" resultType="int">
		SELECT		tc.rank
		FROM (SELECT	ta.pa_username ,
						(@rank := if(@ending > ta.total, @rank:= @rank+1,  @rank)) AS rank,
						(@ending := total)			
				FROM (SELECT 
						a.pa_username,
						SUM(b.am_total) AS total
						FROM payment a
						LEFT JOIN amount b ON  a.pa_num = b.pa_num
						GROUP BY a.pa_username
						ORDER BY total DESC)ta,
						(SELECT  @last:=0, @rank:=1)AS tb)tc		
		WHERE tc.pa_username = #{o_username} 
		
	</select>
	
	<select id="KindCount" parameterType = "String" resultType="KindRate">
		SELECT	pa_kind as kind,
				COUNT(pa_kind)kindrate
		FROM payment 
		WHERE pa_username = #{o_username}
		GROUP BY pa_kind
	
	
	</select>
	
	
	
	
	<select id="BidList" parameterType="Bid_request" resultMap="ListMap" >
			SELECT	*, 
					(SELECT MAX(h.o_price)
					 FROM offer h
					 WHERE a.a_num = h.a_num)topprice
			 
			FROM offer a
			LEFT JOIN auction b ON a.a_num = b.a_num
			LEFT JOIN address c ON a.a_num = c.a_num
			LEFT JOIN `like` d ON a.a_num = d.a_num 
			LEFT JOIN auc_and_pro e ON a.a_num = e.a_num
			LEFT JOIN product f ON e.p_num = f.p_num 
			LEFT JOIN picture g ON f.p_num = g.p_num
			WHERE a.o_username = #{o_username} AND b.a_sale = #{sale}
			GROUP BY b.a_num
	</select>
	
	<delete id="DeleteOffer" parameterType="int">
		delete	
		from	offer 
		where 	o_num = #{o_num}
	
	</delete>
	
	<update id="SelectOffer" parameterType="Offer">
						
		UPDATE 	offer
		SET 	o_select = 1,
				o_endtime = (SELECT DATE_ADD(NOW(),INTERVAL 1 DAY))
		WHERE o_num = #{o_num} and o_skip = 0 
	</update>
	
	<update id="CheckPay" parameterType="Offer">
		<if test="count == 0">
			UPDATE 
			offer a
			LEFT JOIN auction b ON a.a_num= b.a_num
			SET		a.o_skip = 1,
					b.a_sale = 0
			WHERE a.o_num = #{o_num}
		</if>
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
			SELECT COUNT(c.pa_num)
			FROM offer a
			LEFT JOIN auction b on a.a_num = b.a_num
			LEFT JOIN payment c ON b.a_num = c.a_num
			WHERE a.o_num = #{o_num}	
		</selectKey>
	</update>
	
</mapper>
