<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.used.example.mapper.PaymentMapper">


	<resultMap type="Picture" id="ListPi">
		<result property="p_num" column="p_num"/>
		<result property="pi_num" column="pi_num"/>
		<result property="pictureName" column="pi_name"/>
	</resultMap>
	
	<resultMap type="Product" id="ListPro">
		<result property="p_num" column="p_num"/>
		<result property="brand" column="p_brand"/>
		<result property="kind" column="p_kind"/>
		<result property="industry" column="p_industry"/>
		<result property="year" column="p_year"/>
		<collection property="picture" resultMap="ListPi"/>
	</resultMap>
	
	<resultMap type="Offer" id="ListOffer">
	
		<result property="o_num" column="o_num"/>
		<result property="a_num" column="a_num"/>
		<result property="o_username" column="o_username"/>
		<result property="price" column="o_price"/>
		<result property="time" column="o_time"/>
	
	</resultMap>
	
	<resultMap type="Like" id="ListLike">
		<result property="a_num" column="a_num"/>
		<result property="l_username" column="l_username"/>
	
	</resultMap>
	
	
	<resultMap id="ListMap" type="Auction">
		<id property="a_num" column="a_num"/>
		<result property="a_num" column="a_num"/>
		<result property="a_username" column="a_username"/>
		<result property="startdate" column="a_startdate"/>
		<result property="d_day" column="a_enddate"/>
		<result property="startprice" column="a_startprice"/>
		<result property="sale" column="a_sale"/>
		<result property="hits" column="a_hits"/>
		<result property="title" column="a_title"/>
		<result property="content" column="a_content"/>
		<association property="address" javaType="Address">
			<result property="ad_num" column="ad_num"/>
			<result property="a_num" column="a_num"/>
			<result property="lat" column="ad_lat"/>
			<result property="lon" column="ad_lon"/>
			<result property="addr" column="ad_addr"/>
			<result property="town" column="ad_town"/>
		</association>
		<collection property="like"  resultMap="ListLike"/>
		<collection property="offer" resultMap="ListOffer"/>
		<collection property="product" resultMap="ListPro"/>
	</resultMap>









	<select id="PayList" parameterType="String" resultMap="ListMap">
		
		SELECT *
		FROM offer a
		LEFT JOIN auction b ON	a.a_num= b.a_num
		LEFT JOIN address c ON b.a_num = c.a_num
		LEFT JOIN `like` d ON c.a_num= d.a_num
		LEFT JOIN auc_and_pro e ON b.a_num = e.a_num
		LEFT JOIN product f ON  e.p_num =f.p_num
		LEFT JOIN picture g ON f.p_num = g.p_num
		WHERE a.o_username=#{o_username} AND b.a_sale = 1
		GROUP BY a.a_num 
		ORDER BY a.a_num ASC 
				 
	</select>
	<insert id="CreatePayment" parameterType="Payment">
			insert into payment(pa_username, pa_method, pa_kind, pa_quantity, pa_time, a_num, p_num, pa_cop) 
			values (#{pa_username},#{method},#{kind},#{quantity},#{Patime},#{a_num},#{p_num},#{cop})
		
				<selectKey resultType= "int" keyProperty="pa_num" order="AFTER" >
					select last_insert_id()
				</selectKey>
	</insert>
	
	
	<insert id = "CreateCard" parameterType="Card" >
		insert into card(c_bin, c_type, c_install_month, c_approved_id, c_mid, c_interest_free_install, pa_num)
		values(#{bin},#{type},#{install_month},#{approved_id},#{mid},#{interest_free_install},#{pa_num})
	</insert>
	
	
	
	<insert id = "CreateAmount" parameterType="Amount" >
		insert into amount(am_tax_free,am_vat, am_point, am_discount, am_total, pa_num)
		values(#{tax_free},#{vat},#{point},#{discount},#{total},#{pa_num})
	
	
	</insert>
	
	<resultMap id="DetailMap" type="Payment">
		<result property="pa_num" column="pa_num"/>
		<result property="pa_username" column="pa_username"/>
		<result property="method" column="pa_method"/>
		<result property="kind" column="pa_kind"/>
		<result property="quantity" column="pa_quantity"/>
		<result property="Patime" column="pa_time"/>
		<result property="a_num" column="a_num"/>
		<result property="p_num" column="p_num"/>
		<result property="cop" column="pa_cop"/>
		
		<association property = "card" javaType="Card">
			<result property="c_num" column="c_num"/>
			<result property="bin" column="c_bin"/>
			<result property="type" column="c_type"/>
			<result property="install_month" column="c_install_month"/>
			<result property="approved_id" column="c_approved_id"/>
			<result property="mid" column="c_mid"/>
			<result property="interest_free_install" column="c_interest_free_install"/>
			<result property="pa_num" column="pa_num"/>
		</association>
		<association property = "amount" javaType="Amount">
			<result property="tax_free" column="am_tax_free"/>
			<result property="vat" column="am_vat"/>
			<result property="point" column="am_point"/>
			<result property="discount" column="am_discount"/>
			<result property="total" column="am_total"/>
			<result property="pa_num" column="pa_num"/>		
		</association>		
	</resultMap>
	
	
	
	
	
	<select id= "PaymentDetail" parameterType="int" resultMap="DetailMap">
		SELECT *
		FROM payment a
		LEFT JOIN amount b ON a.pa_num = b.pa_num
		LEFT JOIN card c ON a.pa_num = c.pa_num 
		WHERE a.a_num = #{a_num}
	</select>
	
	<update id="PayStep" parameterType="Payment">
		UPDATE offer
		SET o_pay = 1
		WHERE a_num = #{a_num} 
		AND o_username = #{pa_username}
	</update>
	


</mapper>