<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.used.example.mapper.ProductMapper">
	<insert id="createProduct" parameterType="com.used.example.domain.Product">
		insert into product ( 
		
								u_username,
								p_kind,
								p_industry,
								p_brand,
								p_year,
								p_startprice,
								p_endprice,
								p_title,
								p_content,
								p_sale
		
		) values (				
		
								#{username},
								#{kind},
								#{industry},
								#{brand},
								#{year},	
								#{startprice},
								#{endprice},
								#{title},
								#{content},
								#{sale}
		)
		
		<selectKey resultType= "int" keyProperty="p_num" order="AFTER" >
			select last_insert_id()
		</selectKey>
	</insert>
	<insert id= "createPicture" parameterType= "com.used.example.domain.Picture">
		insert into picture(p_num, p_picture)
					values(#{p_num}, #{picture})
	
	</insert>
	
	<select id= "getSaleList" parameterType="String" resultType= "com.used.example.domain.Product">	
		SELECT 	a.p_num 				as p_num,
				a.u_username			as username,
				a.p_kind				as kind,
				a.p_industry 			as industry,
				a.p_brand				as brand,
				a.p_year				as year,
				a.p_startprice		  	as startprice,
				a.p_title				as title,
				a.p_content				as content,
				a.p_sale				as sale,
				a.p_date				as p_date,
				(SELECT GROUP_CONCAT(p_picture SEPARATOR ',')
						FROM picture b
						WHERE a.p_num = b.p_num)p_picture
		FROM product a
		WHERE a.u_username =#{username}
		AND   a.p_sale='false'
	</select>
	<select id= "getSoldList" parameterType="String" resultType= "com.used.example.domain.Product">	
		SELECT 	a.p_num 				as p_num,
				a.u_username			as username,
				a.p_kind				as kind,
				a.p_industry 			as industry,
				a.p_brand				as brand,
				a.p_year				as year,
				a.p_startprice		  	as startprice,
				a.p_title				as title,
				a.p_content				as content,
				a.p_sale				as sale,
				a.p_date				as p_date,
				(SELECT GROUP_CONCAT(p_picture SEPARATOR ',')
						FROM picture b
						WHERE a.p_num = b.p_num)p_picture
		FROM product a
		WHERE a.u_username =#{username}
		AND   a.p_sale='true'
	</select>		
	<select id= "getSaleDetail" parameterType= "int" resultType= "com.used.example.domain.Product">
		SELECT 	a.p_num 				as p_num,
				a.u_username			as username,
				a.p_kind				as kind,
				a.p_industry 			as industry,
				a.p_brand				as brand,
				a.p_year				as year,
				a.p_startprice		  	as startprice,
				a.p_title				as title,
				a.p_content				as content,
				a.p_sale				as sale,
				a.p_date				as p_date,
				(SELECT GROUP_CONCAT(p_picture SEPARATOR ',')
						FROM  picture b
						WHERE b.p_num = #{p_num})p_picture
		FROM   product a
		WHERE  a.p_num = #{p_num}		
	</select>
	<select id= "getAuction" parameterType= "int" resultType= "com.used.example.domain.Auction">
		SELECT 	u_name 					as participant,
				p_num					as p_num,
				a_price					as price,
				a_time					as aTime
		FROM    auction
		WHERE   p_num = #{p_num}				
	</select>
	



</mapper>