<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.used.example.mapper.ProductMapper">
	<insert id="createProduct" parameterType="com.used.example.domain.Product">
		insert into product ( 
		
								u_username,
								p_kind,
								p_industry,
								p_brand,
								p_year,
								p_startprice,
								p_endprice,
								p_title,
								p_content
		
		) values (				
		
								#{username},
								#{kind},
								#{industry},
								#{brand},
								#{year},	
								#{startprice},
								#{endprice},
								#{title},
								#{content}
							
								
	
		
		)
		
	
	
	</insert>


</mapper>